<div class="message">
    <div class="dropdown message-user ">
        <button class="btn btn-secondary pull-rightdropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup= "true" aria-expanded="false"><%= message.user.first_name %>:</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= render 'left' %>
        </div>
    </div>
  <div class="message-content">
    <%= sanitize markdown_to_html(message.content) %>
  </div>
</div>
