<div class="message">
  
    <%= render partial: 'left', locals: { message: message } %>
  
  <div class="message-content">
    <%= sanitize markdown_to_html(message.content) %>
  </div>
</div>
