<div id="messages" class="messages ">
  <div data-behavior='messages' data-group-id='<%= @group.id %>'>
    <% if @messages.any? %>
      <% @messages.each do |message| %>
      	<%= render message %>
      <% end %>
    <% end %>
  </div>
</div>