$('.description-and-update').hide();
$('.description-container').append("<div class='description-form'><%= j render(:partial => 'descriptions/description_form', :locals => { :user => User.find(params[:user].to_i) }) %></div>");


