<%= link_to "Create a New Group for \"#{@book.name}\"", new_book_book_group_path(@book), method: :get %><br>
<div class="subscription">
	<% if @subscribed %>
		<%= render partial: 'book_groups/subscribe', locals: { user: @user, id: @book.id } %>
	<% else %>
		<%= render partial: 'book_groups/unsubscribe', locals: { user: @user, id: @book.id } %>
	<% end %>
</div>

<% @groups.each do |group| %>
	<%= link_to "#{group.name}", book_book_group_path(id: group.id, book_id: @book.id) %><br>
<% end %>