<%= form_tag bans_search_path, method: :get, remote: true do |f|%>
	<%= label_tag(:q, "Search Banned User List") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search User") %>
<% end %>

<section class="container">
	<span class="banned-list">
		
	</span>

	<span class="banned-group-pannel">
		
	</span>
</section>
